mixin video(video)
    div
        h4 
            // #{객체.객체}는 Attribute안에서는 사용할 수 없다.
            // 그럼으로 ``를 사용하거나 "" + 객체.객체로 사용하여야 한다.
            a(href=`/videos/${video.id}`)=video.title
        p=video.description
        small=video.createdAt
        hr   

        // 재 Commit을 위한 임시 주석