extends base.pug

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")       
        input(name="name", type="text", required, placeholder="name")
        input(name="email", type="email", required, placeholder="email")
        input(name="username", type="text", required, placeholder="userName")
        input(name="password", type="password", required, placeholder="PassWord")
        input(name="password2", type="password", required, placeholder="Confirm PassWord")
        input(name="location", type="text", required, placeholder="location")
        input(type="submit",value="Join")
    hr
    div
        span 이미 계정이 있습니까?
        a(href="/login") Log In now &rarr;