extends base.pug

block content 
    form(method="POST")        
        input(name="name", type="text", required, placeholder="name")
        input(name="email", type="email", required, placeholder="email")
        input(name="username", type="text", required, placeholder="userName")
        input(name="password", type="password", required, placeholder="PassWord")
        input(name="location", type="text", required, placeholder="location")
        input(type="submit",value="Join")