extends base.pug

block content 
    div
        p=video.description 
        small=video.createdAt
    a(href= video.id + "/edit") Edit video &rarr;   
    br
    a(href= video.id + "/delete") Delete video &rarr;   

    // 재 Commit을 위한 임시 주석